@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');

@theme {
  --breakpoint-3xl: 118.75rem;
}

@layer base {
  body {
    font-family: 'Sour Gummy', cursive, sans-serif;
  }
}

@layer utilities {
  .hero-bg {
    background-image: url('./images/hero_mobile2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .footer-bg {
    background-image: url('./images/services_footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    .hero-bg {
      background-image: url('./images/hero_desktop2.jpg');
    }
  }

/* PRICE SECTION*/
.paw {
  @apply w-28 sm:w-36 md:w-25 lg:w-32 xl:w-40 3xl:w-48 h-auto mx-auto transition duration-300 pt-8;
}
.paw p {
  @apply pt-5 text-xl px-2 xl:text-2xl;
}

.content {
  @apply hidden;
}

.content div {
  @apply pt-6;
}

.title {
  @apply text-5xl md:text-6xl font-bold text-center mb-12 text-shadow-xs text-shadow-sky-100/60;
}


/* UNWRAPP OF PRICES */

#s:checked ~ .overlay,
#m:checked ~ .overlay,
#l:checked ~ .overlay,
#xl:checked ~ .overlay,
#xxl:checked ~ .overlay {
  opacity: 1;
  pointer-events: auto;
}

#s:checked ~ .overlay .panel,
#m:checked ~ .overlay .panel,
#l:checked ~ .overlay .panel,
#xl:checked ~ .overlay .panel,
#xxl:checked ~ .overlay .panel {
  transform: scale(1);
}

#s:checked ~ .overlay .content-s { display: block; }
#m:checked ~ .overlay .content-m { display: block; }
#l:checked ~ .overlay .content-l { display: block; }
#xl:checked ~ .overlay .content-xl { display: block; }
#xxl:checked ~ .overlay .content-xxl { display: block; }

/*GALLERY*/

#galeria {
  @apply overflow-hidden;
}

.slider {
  @apply relative mx-auto overflow-hidden py-15 md:pt-20;
}

.slide-track {
  @apply flex w-max items-stretch;
  animation: scroll 120s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.slide {
  @apply shrink-0 w-35 sm:w-50 md:w-87.5 aspect-[4/5] p-3 md:p-4;
}

.slide img {
  @apply block w-full h-full object-cover rounded-xl transition duration-500;
}

.slide img:hover {
  @apply scale-110;
}

.slider::before,
.slider::after {
  content: '';
  @apply absolute top-0 h-full w-[15%] z-20 pointer-events-none;
}

.slider::before {
  @apply left-0 bg-linear-to-r from-white/60 to-transparent;
}

.slider::after {
  @apply right-0 bg-linear-to-l from-white/60 to-transparent;
}

}